<%- include('../partials/header') %>

	<h1>Pokemon List</h1>
	<table id="pokemonlist">
		<tr class="headers">
			<th class="nomedia">Pokemon</th>
			<th>Image</th>
			<th>Nickname</th>
			<th>Level</th>
			<% if (title === "All Pokemon") { %>
				<th class="nomedia">Trainer</th>
			<% } %>
			
		</tr>
		<div class="scrollable">
		<% pokemon.forEach(p => { %>
			<tr class="clickable "
		   onclick="window.location='/pokemon/<%= p._id %>'">
				<td class="nomedia"><%= p.name[0].toUpperCase() + p.name.substring(1, p.name.length) %></td>
				<td><img src="<%= p.images[0] %> " alt="sprite" <% if (user?._id?.equals(p.user && title === "All Pokemon")) {%> class="ownpoke" <% }%>></td>
				<td><%= p.nickname %></td>
				<td><%= p.level %> </td>
				<% if (title === "All Pokemon") { %>
				<td class="nomedia"><%= p.trainer %> </td>
				<% } %>
			</tr>
			
		<% }) %>
		</div>
	</table>

	<script src="/javascript/filter.js"></script>

<%- include('../partials/footer') %>