<%- include('../partials/header') %>
<h1>Pokemon</h1>
<div id="pokemonshow">
	<div>
		<div><h3><%= pokemon.name[0].toUpperCase() + pokemon.name.substring(1, pokemon.name.length) %></h3></div>
		<div><img src="<%= pokemon.image %>" alt="<%= pokemon.image %>"></div>
	</div>
	<div><h3>Info:</h3>
		<div><%= pokemon.nickname %></div>
		<div>Level: <%= pokemon.level %> </div>
		<div>Type: <% pokemon.types.forEach(type => { %>
		 	<div><%= type %></div>
		<% }) %></div>
		<div>Nature: <%= pokemon.nature %></div>
		<div>Trainer: <%= pokemon.trainer %></div>
	</div>
	<div><h3>Stats:</h3>
		<div>HP: <%= pokemon.hp %></div>
		<div>ATK: <%= pokemon.attack %></div>
		<div>DEF: <%= pokemon.defense %></div>
		<div>SPD: <%= pokemon.speed %></div>
		<div>SATK: <%= pokemon.specialAttack %></div>
		<div>SDEF: <%= pokemon.specialDefense %></div>
	</div>
	<div><h3>Moves:</h3>
		<div>
			<% pokemon.moves.forEach(move => { %>
				<div class="moves">
					<div><%= move.name %>&nbsp;</div>
					<% if (user?._id?.equals(pokemon.user)) { %>
						<form action="/moves/<%= move._id%>?_method=DELETE" method="post" class="delete">
							<input type="submit" value="X">
						</form>
					<% } %>
				</div>
			<% }) %>
		</div>
		<% if ((pokemon.moves.length < 6) && (user?._id?.equals(pokemon.user))) { %>
			<form action="/pokemon/<%= pokemon._id %>/moves" method="post">
				<select name="url">
					<% pokemon.moveOptions.forEach(m => { %>
						<option value="<%= m.url %>"><%= m.name %> </option>
					<% }) %>
				</select>
				<input type="submit" value="Learn Move">
			</form>
		<% } %>
	</div>
</div>

<%- include('../partials/footer') %>	