<div id="pokemonshow">
	<div id="sprite"><h3><%= pokemon.name[0].toUpperCase() + pokemon.name.substring(1, pokemon.name.length) %></h3>
		<div>
			<img src="<%= pokemon.images[0] %>" alt="<%= pokemon.images[0] %>">
			<% if (pokemon.evolution.length > 0 && pokemon.evolution.some(evolution => pokemon.level >= evolution.data.min_level) && (user?._id?.equals(pokemon.user) || user?.admin === true)) { %>
				<form action="/pokemon/<%= pokemon._id%>/evolve?_method=PUT" method="post" id="evolve">
					<input type="submit" value="Evolve!">
				</form>
			<% } %>
		</div>
	</div>
	<div><h3>Info:</h3>
		<div>
			<div><div>Nickname:&nbsp;</div><div><%= pokemon.nickname %></div></div>
			<div><div>Level:&nbsp;</div><div><%= pokemon.level %> (<%= pokemon.experience %>)</div></div>
			<div><div>Type:&nbsp;</div><div id="types"><% pokemon.types.forEach(type => { %>
				<div><%= type %></div>
			<% }) %></div></div>
			<% if (title === "Pokemon Battle Selection") { %>
				<% const date = new Date(), day = 1000 * 60 * 60 * 24 %> 
			<div>
				<div>HP:&nbsp;</div>
				<div>
					<div class="health-bar">
						<div id="health" class="bar" data-value="<%= pokemon.currentHp %>"></div>
					</div>
				</div>
			</div>
			<div>
				<div>Energy:&nbsp;</div>
				<div>
					<div class="health-bar">
						<div id="energy"class="bar" data-value="<%= Math.min(100, (date - pokemon.energy)/day*4*100)%>"></div>
					</div>
				</div>
			</div>
			<div>
				<div>Food:&nbsp;</div>
				<div>
					<div class="health-bar">
						<div id="hunger" class="bar" data-value="<%= Math.max(0, 100-(date - pokemon.hunger)/day/3*100) %>"></div>
					</div>
				</div>
			</div>
			<% } else { %>
			<div><div>Nature:&nbsp;</div><div><%= pokemon.nature %></div></div>
			<div><div>Trainer:&nbsp;</div><div><%= pokemon.trainer %></div></div>
			<% } %> 
		</div>
	</div>
	<div><h3>Stats:</h3>
		<div>
			<% const stats = ['hp', 'attack', 'defense', 'speed', 'specialAttack', 'specialDefense']%>
			<% stats.forEach(stat => { %>
				<div><div><%= stat.replace(/pecial|ee|tac|ense/ig, '').toUpperCase() %>:&nbsp;</div><div><%= Math.round((100+pokemon[stat].variation[1])/100*(pokemon[stat].base + pokemon[stat].variation[0])) %></div></div>
			<% }) %>
		</div>
	</div>
	<div><h3>Moves:</h3>
		<div class="moves">
			<% pokemon.moves.forEach(move => { %>
				<div>
					<div><a href="/moves/<%= move._id %>"><%= move.name %></a></div>
					<div>
						<% if (user?._id?.equals(pokemon.user) || user?.admin === true) { %>
							<form action="/moves/<%= move._id%>?_method=DELETE" method="post" class="delete">
								<input type="submit" value="🚫">
							</form>
						<% } %>
					</div>
				</div>
			<% }) %>
		</div>
		<% if ((pokemon.moves.length < 6) && (user?._id?.equals(pokemon.user) || user?.admin === true)) { %>
			<form action="/pokemon/<%= pokemon._id %>/moves" method="post" id="movesform">
				<select name="url">
					<% pokemon.moveOptions.forEach(m => { %>
						<option value="<%= m.url %>"><%= m.name %> </option>
					<% }) %>
				</select>
				<input type="submit" value="Learn Move">
			</form>
		<% } %>
	</div>
</div>