<%- include('../partials/header') %>
	<h1>Battle an Opponent</h1>
	<form action="/pokemon/<%= pokemon._id %>/battle/random">
		<input type="submit" value="Battle Random" />
	</form>
	<div id="battle">
		<%- include('../partials/pokeshow') %>
		<div id="opponents">
			<table id="pokemonlist">
				<tr class="headers">
					<th>Pokemon&nbsp;</th>
					<th>Level</th>
					<th>Types</th>
					<th>Stats</th>
				</tr>
				<% opponents.forEach(p => { %>
					<tr class="opponentrows">
						<td><a href="/pokemon/<%= p._id %>"><%= p.name[0].toUpperCase() + p.name.substring(1, p.name.length) %></a></td>
						<td id="level"><%= p.level %> </td>
						<td><% p.types.forEach(type => { %>
							<div><%= type %> </div>
						<% }) %></td>
						<td><table>
							<tr id="statgrid">
								<% const stats = ['hp', 'attack', 'defense', 'speed', 'specialAttack', 'specialDefense']%>
								<% stats.forEach(stat => { %>
									<th><%= Math.round((100+pokemon[stat].variation[1])/100*(pokemon[stat].base + pokemon[stat].variation[0])) %></th>
								<% }) %>
							</tr>
						</table></td>
						<td><form action="/pokemon/<%= pokemon._id %>/battle/<%= p._id %>">
							<input type="submit" value="Battle!" />
						</form>
						</td>
					</tr>
				<% }) %>
			</table>
		</div>
	</div>

<%- include('../partials/footer') %>