<%- include('../partials/header') %>
	<% const date = new Date(), day = 1000 * 60 * 60 * 24 %> 
	<% const hpBool =  pokemon.currentHp > 0, energyBool = (date - pokemon.energy)/day*4*100 > 5, hungerBool = (100-(date - pokemon.hunger)/day/3*100 > 5) %> 
	<% const canBattle = (hpBool && energyBool && hungerBool)%> 
	<h1>Battle an Opponent</h1>
	<% if (canBattle) { %> 
	<form action="/pokemon/<%= pokemon._id %>/battle/random">
		<input type="submit" value="Battle Random" />
	</form>
	<% } else { %>
		<% if (!hpBool) { %>
			<p class="canBattle">Health Too Low.</p>
		<% } %>
		<% if (!energyBool) { %>
			<p class="canBattle">Energy Too Low.</p>
		<% } %>
		<% if (!hungerBool) { %>
			<p class="canBattle">Food Too Low.</p>
		<% } %>
	<% } %> 
	<div id="battle">
		<%- include('../partials/pokeshow') %>
		<div id="opponents">
			<table id="pokemonlist">
				<tr class="headers">
					<th>Pokemon&nbsp;</th>
					<th>Level</th>
					<th>Types</th>
					<th>Stats</th>
					<% if (canBattle) { %>
					<th></th>
					<% } %>
				</tr>
				<div class="scrollit">
				<% opponents.forEach(p => { %>
					<tr class="opponentrows">
						<td><a href="/pokemon/<%= p._id %>"><%= p.name[0].toUpperCase() + p.name.substring(1, p.name.length) %></a></td>
						<td id="level"><%= p.level %> </td>
						<td><% p.types.forEach(type => { %>
							<div><%= type %> </div>
						<% }) %></td>
						<td id="statgrid">
								<% const stats = ['hp', 'attack', 'defense', 'speed', 'specialAttack', 'specialDefense']%>
								<% stats.forEach(stat => { %>
									<div><%= Math.round((100+p[stat].variation[1])/100*(p[stat].base + p[stat].variation[0])) %></div>
								<% }) %>
						</td>
						<% if (canBattle) { %>
							<td><form action="/pokemon/<%= pokemon._id %>/battle/<%= p._id %>">
								<input type="submit" value="Battle!" />
							</form>
							</td>
						<% } %>
					</tr>
				<% }) %>
				</div>
			</table>
		</div>
	</div>

	<script src="/javascript/filter.js"></script>
	<script src="/javascript/healthbar.js"></script>

<%- include('../partials/footer') %>