<%- include('../partials/header') %>
	<h1>Battle an Opponent</h1>
	<div id="battle">
		<div id="pokemonshow">
			<div id="sprite">
				<div><img src="<%= pokemon.images[0] %>" alt="<%= pokemon.images[0] %>"></div>
			</div>
			<div><h3><%= pokemon.name[0].toUpperCase() + pokemon.name.substring(1, pokemon.name.length) %></h3>
				<div><div>Nickname:&nbsp;</div><div><%= pokemon.nickname %></div></div>
				<div><div>Level:&nbsp;</div><div><%= pokemon.level %></div></div>
				<div><div>Type:&nbsp;</div><div id="types"><% pokemon.types.forEach(type => { %>
					<div><%= type %></div>
				<% }) %></div></div>
				<div><div>Nature:&nbsp;</div><div><%= pokemon.nature %></div></div>
				<div><div>Trainer:&nbsp;</div><div><%= pokemon.trainer %></div></div>
			</div>
			<div><h3>Stats:</h3>
				<div><div>HP:&nbsp;</div><div><%= pokemon.hp %></div></div>
				<div><div>ATK:&nbsp;</div><div><%= pokemon.attack %></div></div>
				<div><div>DEF:&nbsp;</div><div><%= pokemon.defense %></div></div>
				<div><div>SPD:&nbsp;</div><div><%= pokemon.speed %></div></div>
				<div><div>SATK:&nbsp;</div><div><%= pokemon.specialAttack %></div></div>
				<div><div>SDEF:&nbsp;</div><div><%= pokemon.specialDefense %></div></div>
			</div>
			<div><h3>Moves:</h3>
				<div class="moves">
					<% pokemon.moves.forEach(move => { %>
						<div>
							<div><%= move.name %></div>
						</div>
					<% }) %>
				</div>
			</div>
		</div>
		<div>
			<table id="pokemonlist">
				<tr class="headers">
					<th>Pokemon</th>
					<th>Level</th>
					<th>Types</th>
					<th>Stats</th>
				</tr>
				<% opponents.forEach(p => { %>
					<tr>
						<td><a href="/pokemon/<%= p._id %>"><%= p.name[0].toUpperCase() + p.name.substring(1, p.name.length) %></a></td>
						<td><%= p.level %> </td>
						<td><% p.types.forEach(type => { %>
							<div><%= type %> </div>
						<% }) %></td>
						<td><table>
							<tr>
								<th><%= p.hp %></th>
								<th><%= p.attack %></th>
								<th><%= p.defense %></th>
								<th><%= p.speed %></th>
								<th><%= p.specialAttack %></th>
								<th><%= p.specialDefense %></th>
							</tr>
						</table></td>
						<td><form action="/pokemon/<%= pokemon._id %>/battle/<%= p._id %>">
							<input type="submit" value="Battle!" />
						</form>
						</td>
					</tr>
				<% }) %>
			</table>
		</div>
	</div>

<%- include('../partials/footer') %>