<%- include('../partials/header') %>
<h1>Battle!</h1>
<div class="hidden" id="oppid"><%= opponent._id %></div>
<div id="battleground">
	<div id="infopanel">
		<div><img src="/images/loading-gif.gif" alt=""></div>
	</div>
	<div id="opponentpokemon">
		<div class="info"> 
			<div>
				<div class="name">
					<h3><%= (opponent.nickname) ? opponent.nickname : opponent.name %></h3><div class="state"></div>
				</div>
				<div>
					<h3>Lvl. <span class="level"><%= opponent.level %> </span></h3>
				</div>
			</div>
			<div class="health-bar">
				<div class="bar">
					<div class="hit"></div>
				</div>
				<div class="hp"></div>
			</div>
		</div>
	  	<div class="battlesprite">
			<div><img src="<%= opponent.images[0]%>" alt="opponent" ></div>
		</div>
	</div>
	<div id="userpokemon">
		<div class="battlesprite">
			<div><img src="<%= pokemon.images[1]%>" alt="pokemon" ></div>
		</div>
		<div class="info"> 
			<div>
				<div class="name">
					<h3><%= (pokemon.nickname) ? pokemon.nickname : pokemon.name %> </h3> <div class="state"></div>
				</div>
				<div>
					<h3>Lvl. <span class="level"><%= pokemon.level %> </span></h3>
				</div>
			</div>
			<div class="health-bar">
				<div class="bar">
					<div class="hit"></div>
				</div>
				<div class="hp"></div>
			</div>
		</div>
	</div>

</div>
<div id="battleactions">
	<div id="messagebox">
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/battle.js"></script>
<%- include('../partials/footer') %>