<%- include('../partials/header') %>
	<h1>Move</h1>
	<table>
		<tr>
			<th>Name</th>
			<td><%= move.name %> </td>
		</tr><tr>
			<th>Type</th>
			<td><%= move.type %> </td>
		</tr><tr>
			<th>Class</th>
			<td><%= move.damageClass %> </td>
		</tr><tr>
			<th>Power</th>
			<td><%= move.power %> </td>
		</tr><tr>
			<th>PP</th>
			<td><%= move.pp %> </td>
		</tr><tr>
			<th>Level</th>
			<td><%= move.level %> (<%= move.experience %>)</td>
		</tr><tr>
			<th>Info</th>
			<td><%= move.info %> </td>
		</tr>
	</table>
<%- include('../partials/footer') %>