<%- include('../partials/header') %>
	<h1>Move</h1>
	<div id="movetable">
		<table >
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Class</th>
			</tr>
				<td><%= move.name %> </td>
				<td><%= move.type %> </td>
				<td><%= move.damageClass %> </td>
			</tr>
				<th>Power</th>
				<th>PP</th>
				<th>Level</th>
			<tr>
			<tr>
				<td><%= move.power %></td>
				<td><%= move.pp %> </td>
				<td><%= move.level %> (<%= move.experience %>)</td>
			</tr>		
		</table>
		<div id="moveinfo">
			<div class="headers">Info</div>
			<div id="info"><%= move.info %> </div>
		</div>
	</div>
<%- include('../partials/footer') %>